body {
  background-color: #000000;
  font-family: 'Raleway', sans-serif;
  color: #999999;
}

.popup-menu,
.popup-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 9999;
  padding: 10px;
}

.popup-menu .bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #999999;
  margin: 6px 0;
  transition: 0.4s;
}

.popup-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.popup-menu.open .bar2 {
  opacity: 0;
}

.popup-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-7px, -7px);
  transform: rotate(45deg) translate(-7px, -7px);
}

.menu-selection ul {
  list-style: none;
}

.menu-selection li {
  float: left;
  padding: 18px 30px;
  color: #999999;
}

.menu-selection {
  position: fixed;
  right: 70px;
  top: 40px;
  color: #FFFFFF;
  -webkit-animation: 3s ease 0s normal fadein;
    animation: 3s ease 0s normal fadein;
}

.jumbotron {
  background-image: url("images/computer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#heroText hr {
  margin: 80px 0;
}

#heroText {
  background-color: #000000;
  -webkit-animation: 5s ease-out 0s normal tracking-in-expand;
    animation: 5s ease-out 0s normal tracking-in-expand;
}

.small {
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-content {
  margin-bottom: 100px;
}

.form-control {
  background-color: #000000;
}

.form-control:focus {
  background-color: #999999;
}

.submit-btn {
  margin-top: 30px;
}

/* ANIMATIONS */

@keyframes fadein{
  from { opacity:0 }
  to { opacity:1 }
}

@-webkit-keyframes fadein{
  from { opacity:0 }
  to { opacity:1 }
}

@-webkit-keyframes tracking-in-expand {
  0%{letter-spacing:-.5em;opacity:0}
  60%{opacity:.6}100%{opacity:1}
}
